@import './variables.scss';
h1 {
    font-weight: 900;
}

section {
    text-align: center;
    width: 100%;
    min-height: 100vh;
    margin-left: 0px !important;
    margin-right: 0px !important;
    overflow: hidden;
}

.spec-row {
    min-height: 100vh;
}

header {
    width: 100%;
    min-height: 10vh;
}

footer {
    width: 100%;
    min-height: 10vh;
    overflow: hidden;
}

.main-row-section {
    height: 80vh;
}

.bold {
    font-weight: 800;
}

.logo {
    height: 20vh;
}

.btn-section {
    width: 20vw;
    height: 8vh;
    border: 2px solid;
    background-color: transparent;
    border-radius: 10px;
    padding-top: 13px;
    border-color: $primaryColor;
    color: $primaryColor;
    transition: all .5s;
}

.btn-section:hover {
    background-color: $primaryColor;
    color: black;
}

.btn-black {
    width: 20vw;
    height: 8vh;
    border: 2px solid;
    background-color: transparent;
    border-radius: 10px;
    padding-top: 13px;
    border-color: black;
    transition: all .5s;
}

.btn-black:hover {
    background-color: black;
    color: $primaryColor;
}

.one {
    width: 100%;
    min-height: 100vh;
    background-image: url('../img/jazzfest-panel.png');
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    background-position-x: 150px;
    background-repeat: no-repeat;
}

.two {
    width: 100%;
    min-height: 100vh;
    background-image: url("../img/lot-panel.png");
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    background-position-x: -45em;
    background-repeat: no-repeat;
}

.three {
    width: 100%;
    min-height: 100vh;
    background-image: url("../img/defined-panel.png");
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    background-position-x: 150px;
    background-repeat: no-repeat;
}

.profile-photo {
    width: 100%;
    height: 100%;
    background-image: url("../img/profile.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

.increase-200-m {
    text-align: left;
    padding-right: 140px;
    padding-left: 40px;
    padding-top: 50px;
    min-height: 100vh;
}

@media only screen and (max-width: 768px) {
    .menu-nav {
        position: fixed;
        z-index: 30;
        box-shadow: 5px 0px 50px grey;
        width: 1000px;
        height: 150vh;
        margin: -100px 0 0 -400%;
        padding: 50px;
        padding-top: 200px;
        background: #f4f4f4;
        list-style-type: none;
        transition: all .4s linear;
    }
    .spec-row {
        min-height: 150vh;
    }
    .menu-nav.transition {
        margin: -100px 0 0 0%;
    }
    .one {
        width: 100%;
        height: 150vh;
    }
    .two {
        display: none;
    }
    .three {
        width: 100%;
        height: 150vh;
    }
    .btn-section {
        width: 40vw;
        height: 10vh;
    }
    .btn-black {
        width: 40vw;
        height: 10vh;
    }
    .increase-200-m {
        padding-right: 40px;
        min-height: 200vh !important;
    }
    .profile-photo {
        height: 50vh;
    }
    .padded {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}